*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body{
font-family: Arial, sans-serif;
margin:0px;
background:#003366;
}

header h2{
background:#003366;
color:white;
padding:15px;
display:flex;
flex-direction:column;
align-items:center;
}
.navbar{
background:#003366;
color:white;
padding:15px;
display:inline-block;
align-items:center;
margin-left: 41.5%;
}

nav{
margin-top:10px;
}

nav a{
color:white;
margin:0 15px;
text-decoration:none;
font-weight:bold;
}

.hero{
text-align:center;
padding:80px;
background:linear-gradient(135deg,#f8dc3f,#f8dc3f);
color:white;
}

button{
background:#003366;
border:none;
padding:12px 20px;
color:white;
cursor:pointer;
border-radius: 8px;
font-weight:bold;
}

button:hover{
background:#09529b;
}

.propuesta{
width:400px;
margin:auto;
margin-top:40px;
display:flex;
flex-direction:column;
background-color: #e7cb2e;
border-radius: 10px;
padding: 1%;
}

input{
padding:10px;
margin-bottom:10px;
border-radius: 10px;
}

footer{
text-align:center;
margin-top:50px;
padding:20px;
background:#003366;
color:white;
}

.propuesta form{
display:grid;
grid-template-columns:150px 1fr;
gap:10px;
align-items:center;
}

.propuesta form button{
grid-column:1 / 3;
justify-self:center;
margin-top:10px;
}

.propuesta form p{
grid-column:1 / 3;
text-align:center;
}